.li{
  display: flex;
  justify-content: space-evenly;
}
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  
  
   .closeBtn {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  .orderBtn {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  .removeBtn{
    
    cursor: pointer;
    background-color: #8a2b06;
    color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    margin-left: 5rem;
  }
  
.actions{
  display: flex;
  justify-content: space-evenly;
}
.total{
 font: italic;
 display: flex;
 justify-content: space-around;
}